.message{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 16px;
}

.message>p{
    background-color: rgba(224, 206, 206, 0.808);
    font-size: medium;
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
    margin-right: auto;
}

.message>small{
    position: absolute;
    right: 0;
    bottom: -5px;
    font-size: 8px;
}